{% from "base/macros.html" import del_btn %}
{% from "base/settings_macros.html" import bool_setting, string_setting %}

<form method="POST" action="/settings#change_password">
    {{change_password_form.csrf_token}}
    <input type="hidden" name="submitted_form" value="change_password">

    {{ string_setting(change_password_form.password, label="Current Password") }}
    {{ string_setting(change_password_form.new_password) }}
    {{ string_setting(change_password_form.new_password_confirm) }}

    <br>

    <div class="row">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Change Password
        </button>
    </div>

</form>
