<div class="row">
  <div class="col-9"></div>
  <div class="col-3">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
     Delete Account <i class="fa fa-trash"></i>
    </button>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you wish to delete your own account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="{{ url_for('.del_my_acc') }}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>