{% from "base/settings_macros.html" import bool_setting, string_setting %}

<form method="POST" action="/settings">
    {{user_form.csrf_token}}

    <input type="hidden" name="submitted_form" value="general">

    {{ string_setting(user_form.name) }}
    {{ string_setting(user_form.email) }}
    {{ string_setting(user_form.discord_id) }}

    <br>

    <div class="row">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        Save
        </button>
    </div>

</form>
