{% for e in elements %}
    <div class="row">
        <div class="col-2">
            <button class="btn btn-success button round-button" onclick="play_music('{{category}}', '{{e}}')">
                <i class="fas fa-play"></i>
            </button>
        </div>
        <div class="col-10">
            {{e}}
        </div>
    </div>
    <br>
{% endfor %}