{% from "base/macros.html" import form_errors, del_btn %}

<form method="POST" action="{{form_submit}}">
    {{ form.csrf_token }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-2">
            Token:
        </div>
        <div class="col-10">
            {{form.token(style="width:100%;")}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            Voice Channel:
        </div>
        <div class="col-10">
            {{form.audio_channel(style="width:100%;")}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            Prefix:
        </div>
        <div class="col-2">
            {{form.prefix(style="width:6ch;")}}
        </div>

        <div class="col-md">
            {{del_btn(url_for(".del_bot", campaign=campaign))}}
            <button class="float-right btn btn-primary btn-space" type="submit">Save</button>
        </div>
    </div>
</form>