<div class="row">
    <div class="col-5">
        <button class="btn btn-danger button round-button" onclick="fetch('{{stop_url}}')">
            <i class="fas fa-stop"></i>
        </button>
        <button class="btn btn-primary button round-button" onclick="fetch('{{pause_url}}')">
            <i class="fas fa-pause"></i>
        </button>
    </div>

    <div class="col-2">
        <button class="btn btn-primary button round-button" onclick="change_volume('{{vol_down_url}}')">
            <i class="fas fa-volume-down"></i>
        </button>
    </div>
    <div class="col-3">
        <div class="progress" style="transform: translateY(50%);">
          <div id="volbar" class="progress-bar" role="progressbar" style="width: {{current_volume}}%;"
               aria-valuemin="0" aria-valuemax="100">{{current_volume}}%</div>
        </div>
    </div>
    <div class="col-2">
        <button class="btn btn-primary button round-button" onclick="change_volume('{{vol_up_url}}')">
            <i class="fas fa-volume-up"></i>
        </button>
    </div>
</div>

<script>
    function change_volume(url){
        fetch(url).then(function(e){
            e.json().then(function(data){
                var volume = Math.round(parseFloat(data.volume) * 100);
                $("#volbar")
                .css("width", volume + "%")
                .attr("aria-valuenow", volume)
                .text(volume + "%");
            })
        })
    }
</script>