{% from "base/macros.html" import del_btn %}

{% set is_gm = current_user == campaign.gm %}

<div class="row">
    <div class="col-2">
        {% if can_edit %}
            private: {{form.private}}
            <br>
            alive: {{form.is_alive}}
        {% else %}
            {{'Alive' if character.is_alive else 'Dead'}}
        {% endif %}
    </div>
    <div class="col-2">
        {% if is_gm %}
            {# GMs can choose the player of this character #}

        <!-- Button trigger modal -->
        <button id="player_name" type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#player_select">
         {{ character.player_name or 'NPC'}}
        </button>

        <!-- Modal -->
        <div class="modal fade" id="player_select" tabindex="-1" role="dialog" aria-labelledby="player_select_Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="player_select_Label">Select Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  Either select a player registered on the server from the dropdown menu or enter a name.
                  If you want to use the Non-Registered player option leave the combo at NPC
                  <br>
                  <br>
                  <div class="row">
                      <div class="col-6">
                        Registered player:
                      </div>
                      <div class="col-6">
                          {{ form.player_id(style="width:200px;") }}
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-6">
                          Non-Registered player:
                      </div>
                      <div class="col-6">
                          {{ form.dummy_player(style="width:200px;", placeholder="Non-registered player") }}
                      </div>
                  </div>
              </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
          </div>
        </div>

        {#
            {{ form.player_id(style="width:200px;") }}
            {{ form.dummy_player(style="width:200px;", placeholder="Non-registered player") }}
        #}

        {% elif character %}
            {# Users can only see it #}
            {{ character.player_name or 'NPC'}}
        {% else %}
            {#
            If a regular user got here without a character (i.e. via new character)
            he has an access token to create one just show his name in the location of the player
            #}
            {{ current_user.name }}
        {% endif %}
    </div>
    <div class="col-6">
         {% if can_edit %}
            {{form.name(style="width: 100%; text-align: center;")}}
        {% else %}
            {{character.name}}
        {% endif %}
    </div>
    {% if can_edit %}
    <div class="col-2">
        {# character might be None, because we are in the new character screen #}
        {% if character and is_gm %}
            {{del_btn(url_for(".del_character", campaign=campaign, character=character))}}
        {% endif %}
        <button class="float-right btn btn-primary btn-space" type="submit">Save</button>
    </div>
    {% endif %}
</div>

{% if is_gm %}
{#
    This script will get the player_id from the combo, and if it's zero (i.e. NPC) attempt to get the name from the
    dummy_player, if it's empty use NPC.

    Then it updates the text on the button that opens the modal to reflect the changes
#}
    <script>
    $('#player_select').on('hidden.bs.modal', function (e) {
        var player_id = $('#player_id').children("option:selected")
        var selected_i = player_id.val()
        var name = player_id[0].label
        if(selected_i == 0){
            var dummy_name = $('#dummy_player').val()
            if(dummy_name)
                name = dummy_name
        }
        $('#player_name')[0].innerText = name;
    });
    </script>
{% endif %}