{% from "base/macros.html" import del_btn %}

{% set is_gm = current_user == campaign.gm %}

<div class="row">
    <div class="col-2">
        {% if can_edit %}
            private: {{form.private}}
        {% else %}
            {{'Private' if element.private else 'Public'}}
        {% endif %}
    </div>
    <div class="col-2">
        {% if is_gm %}
            {# GMs can choose the owner of this location/object #}
            {{ form.owner_id(style="width:150px;")}}
        {% elif element %}
            {# Users can only see it #}
            {{ element.get_owner_name() or '-'}}
        {% else %}
            {#
            If a regular user got here without an element (i.e. via new location/object)
            he has an access token to create one just show his name as the owner
            #}
            {{ current_user.name }}
        {% endif %}
    </div>
    <div class="col-6">
         {% if can_edit %}
            {{form.name(style="width: 100%; text-align: center;")}}
        {% else %}
            {{element.name}}
        {% endif %}
    </div>
    <div class="col-2">
        {# element might be None, because we are in the new location/object screen #}
        {% if element and is_gm %}
            {{del_btn(del_url)}}
        {% endif %}
        <button class="float-right btn btn-primary btn-space" type="submit">Save</button>
    </div>
</div>