{% from "base/macros.html" import del_btn, datepicker %}

{% set is_gm = current_user == campaign.gm %}

<div class="row">
    <div class="col-3">
        {% if can_edit %}
        {# We need to set the data-provide to be able to use bootstrap-datepicker,
        but the form does not allow me to pass it, so we need to recreate the input element #}

        {{ datepicker(form.date) }}

        {% else %}
            {{ element.date.strftime(config.DATE_FORMAT) }}
        {% endif %}
    </div>
    <div class="col-7">
         {% if can_edit %}
            {{form.name(style="width: 100%; text-align: center;")}}
        {% else %}
            {{element.name}}
        {% endif %}
    </div>
    <div class="col-2">
        {# element might be None, because we are in the new session screen #}
        {% if element and is_gm %}
            {{del_btn(del_url)}}
        {% endif %}
        <button class="float-right btn btn-primary btn-space" type="submit">Save</button>
    </div>
</div>