<ul class="list-group list-group-flush">

  {% for e in elements %}
  <li class="list-group-item">
    <div class="text-center">
    <strong>{{e.title}}</strong>
    </div>

    <div class="text-left">
      {{ e.content| cut | markdown | safe }}
    </div>
  </li>
  {% endfor %}

  <li class="list-group-item">
    <a href="{{view_link}}" class="btn btn-block btn-primary">View</a>
  </li>

</ul>