{% extends "base/base.html" %}

{% from "base/macros.html" import elements_list, form_errors %}

{% import "dashboard/general.html" as general with context %}
{% import "dashboard/email.html" as email with context %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

<form method="POST" action="/dashboard">

    {{ form.csrf_token}}

    {{ form_errors(form) }}

    {{ elements_list({
    'General': [{
        'title': 'General',
        'content': general,
        'id': 'general'
    },{
        'title': 'E-Mail',
        'content': email,
        'id': 'email'
    }]
}, title='
<div class="row">
    <div class="col-10">
        Dashboard
    </div>
        <div class="col-2">
        <button class="float-right btn btn-primary btn-space" type="submit">Save</button>
    </div>
</div>
') }}

</form>

{% endblock %}
