{% from "base/macros.html" import del_btn %}
{% from "base/settings_macros.html" import bool_setting, string_setting %}

<form method="POST" action="/user/{{user.id}}">
    {{user_form.csrf_token}}

    {{ string_setting(user_form.name) }}
    {{ string_setting(user_form.email) }}
    {{ string_setting(user_form.discord_id) }}

    {{ bool_setting(user_form.is_admin) }}
    {{ bool_setting(user_form.active) }}

    <br>

    <div class="row">
        <div class="col-10">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
            Save
            </button>
        </div>
        <div class="col-2">
            {{ del_btn(url_for(".del_user", user=user), id="del_user_{}".format(user.id) ) }}
        </div>
    </div>

</form>
