{% extends "base/base.html" %}

{% from "base/macros.html" import field_with_errors %}

{% block styles %}
  {% include 'base/styles.html' %}
  <link rel="stylesheet" href="static/styles/login.css">
{% endblock styles %}

{% block body %}

<div class="wrapper fadeInDown text-center">
<div id="formContent">
  <form class="form-signin" method="POST" action={% block action %}{% endblock %}>

    <img
      class="mb-4"
      src="static/img/icon.svg"
      id="icon"
      alt=""
      width="150"
      height="150" />

      <h1 class="h3 mb-3 font-weight-normal">
        {% block form_title %}{%endblock form_title%}
      </h1>

      {% block form %}
      {% endblock form %}

    {% block submit_btn %}
    {% endblock submit_btn %}

    </form>

  {% block down_menu %}
  {% endblock down_menu %}


  <p class="mt-5 mb-3 text-muted"><i class="fa fa-copyright fa-flip-horizontal"></i> 2019</p>
 <div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
  </div>


</div>

{% endblock body %}
