{% extends "security/login_register_base.html" %}

{% block form_title %}Login{%endblock form_title%}

{% block action %}"/login"{% endblock %}

{% block form %}
  {{ login_user_form.csrf_token }}
  {{ field_with_errors(login_user_form.email, class="form-control", placeholder="Login") }}
  {{ field_with_errors(login_user_form.password, class="form-control", placeholder="Password") }}


  <div class="checkbox mb-3">
    <label>
      {{ login_user_form.remember }} Remember me
    </label>
  </div>

{% endblock form %}


{% block submit_btn %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign in
  </button>
{% endblock submit_btn %}

{% block down_menu %}
  <div id="formFooter">
    <a class="underlineHover" href="/forgot">Forgot Password?</a>
    {% if config.SECURITY_REGISTERABLE %}
    <br>
    <br>
    <a class="underlineHover" href="/register">Don't have an account?</a>
    {% endif %}
  </div>
{% endblock down_menu %}