{% extends "security/login_register_base.html" %}


{% block form_title %}Register{%endblock form_title%}

{% block action %}"/register"{% endblock %}

{% block form %}
{{ register_user_form.csrf_token }}
{{ field_with_errors(register_user_form.name, class="form-control", placeholder="Login") }}
{{ field_with_errors(register_user_form.email, class="form-control", placeholder="Email") }}
{{ field_with_errors(register_user_form.password, class="form-control", placeholder="Password") }}
{{ field_with_errors(register_user_form.password_confirm, class="form-control", placeholder="Confirm Password") }}

<br>

{% endblock form %}


{% block submit_btn %}
<button class="btn btn-lg btn-success btn-block" type="submit">
  Create Account
</button>
{% endblock submit_btn %}

{% block down_menu %}
<div id="formFooter">
  <a class="underlineHover" href="/login">Back to login</a>
</div>
{% endblock down_menu %}