<!DOCTYPE html>
<html>

  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="icon" href="/static/img/favicon.ico">

      <title>{% block title %}{% endblock %}</title>

      {% block styles %}
        {% include 'base/styles.html' %}
        <!-- Custom styles for this template -->
        <link href="/static/styles/main.css" rel="stylesheet">
      {% endblock styles %}
      
    {% endblock head %}
  </head>

  
  <body>
    {% block body %}

    <header>
      {% block header %}
      {% include 'base/topbar.html' %}
      {% endblock header %}
    </header>
      
      {% block full_content %}
        <main role="main" class="container-fluid">
          {% block content %}
            {# Content goes here #}
          {% endblock content %}
        </main>
      {% endblock full_content %} 



     <footer class="footer"> 
       {% block footer %}
       {% endblock footer %}
     </footer>

     {% endblock body %}
  </body>

  {% block scripts %}
  {% include 'base/scripts.html' %}
  {% endblock scripts%}

</html>
