{% extends "base/base.html" %}

{% block content %}

{% for e in errors %}
  <div class="alert alert-danger" role="alert">
  <i class="fa fa-ban" aria-hidden="true"></i>
  <span class="sr-only">Error:</span>
  {{e}}
</div>
{% endfor %}

{% endblock content %}
