{% macro new_btn(name, url) %}
  <a type="button" class="btn btn-success btn-lg btn-block" role="button" href="{{url}}">
    <i class="fas fa-plus"></i>&nbsp;&nbsp;
    Create new {{name}}
  </a>
{% endmacro %}

{% macro campaign_color(campaign, elem='btn') %}
  {% if campaign.gm == current_user %}
    {{elem}}-primary
  {% else %}
    {{elem}}-secondary
  {% endif %}
{% endmacro %}


{% macro elements_list(elements, left_column_size=3, title="") %}
<div class="row">
  <div class="col-{{left_column_size}}">
    <div class="list-group" id="list-tab" role="tablist">
        {% for k in elements %}
            {% if loop.index == 1 %}
                {% set first = true %}
            {% else %}
                {% set first = false %}
            {% endif %}

            {% if elements|length > 1 %}
                <a>{{k}}</a>
            {% endif %}

            {% for c in elements[k] %}
                <a class="list-group-item list-group-item-action {{ 'active' if loop.index == 1 and first }}"
                   id="{{c.id}}-list"
                   data-toggle="list"
                   href="#{{c.id}}"
                   role="tab"
                   aria-controls="{{c.id}}">
                  {{c.title}}
                </a>
            {% endfor %}
        {% endfor %}
    </div>
  </div>

  <div class="col-{{12 - left_column_size}}">
      <div class="card">
          <div class="card-header text-center">
            {{title | safe}}
          </div>

          <div class="tab-content" id="nav-tabContent">
              {% for k in elements %}
                {% if loop.index == 1 %}
                    {% set first = true %}
                {% else %}
                    {% set first = false %}
                {% endif %}

                {% for c in elements[k] %}
                    <div class="tab-pane fade {{ 'show active' if loop.index == 1 and first }}" id="{{c.id}}" role="tabpanel" aria-labelledby="list-{{c.id}}-list">

                        <div class="card-body">
                            {# Since this is most likely an html do not escape it #}
                            {{ c.content | safe }}
                        </div>
                    </div>
                {% endfor %}
              {% endfor %}
          </div>
      </div>
  </div>
</div>

{# Script that allows to use # in the html to navigate to a specific tab #}
<script>
var hash = document.location.hash;
if (hash) {
    // make so that no item is active
    $('a.list-group-item').removeClass("active");
    $('div.tab-pane').removeClass("show active");
    // Adding
    $(hash+'-list').addClass("active");
    $(hash).addClass("show active");
}
</script>
{% endmacro %}

{% macro form_errors(form) %}
{% for k in form.errors %}
    {% for v in form.errors[k] %}
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i>
        {{k}}: {{v}}
      </div>
    {% endfor %}
{% endfor %}
{% endmacro %}

{% macro field_with_errors(field) %}
{{ field(**kwargs) | safe }}
{% if field.errors %}
  {% for error in field.errors %}
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i>
        {{error}}
    </div>
  {% endfor %}
  </ul>
{% endif %}
{% endmacro %}


{% macro del_btn(delete_href, msg="Are you sure you wish to delete it?", id="confirmDelModal") %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#{{id}}">
 <i class="fa fa-trash"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{id}}Label">Confirm deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ msg }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="{{delete_href}}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro datepicker(elem) %}
<input id={{elem.id}}
       name={{elem.name}}
       type="text"
       value={{elem.data | date }}
       format="{{config.DATE_FORMAT}}"
       data-date-format={{config.DATEPICKER_FORMAT}}
       data-provide="datepicker">
{% endmacro %}