{% from "base/macros.html" import field_with_errors %}

{% macro bool_setting(element, class="badge-primary") %}
<div class="row">
    <div class="col-10">
        {{element.label}}
    </div>
    <div class="col-2">
        <div class="material-switch pull-right">
            {{ field_with_errors(element) }}
            <label for={{element.id}} class={{class}}></label>
        </div>
    </div>
</div>
<br>
{% endmacro %}

{% macro string_setting(element, label=None) %}
<div class="row">
    <div class="col-3">
        {% if label %}
            {{ label }}
        {% else %}
            {{element.label}}
        {% endif %}
    </div>
    <div class="col-9">
        {{ field_with_errors(element, style="width: 100%;") }}
    </div>
</div>
<br>
{% endmacro %}

{% macro integer_setting(element) %}
<div class="row">
    <div class="col-9">
        {{element.label}}
    </div>
    <div class="col-3">
        {{ field_with_errors(element) }}
    </div>
</div>
<br>
{% endmacro %}
