<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

<link rel="stylesheet" href="/static/bower_components/font-awesome/css/all.min.css">

<link rel="stylesheet" href="/static/bower_components/simplemde/dist/simplemde.min.css">
<link rel="stylesheet" href="/static/styles/switch.css">

{# Include the scripts at the top to have them at any moment in the page,
otherwise writing script tags in the middle of a template can get cumbersome #}
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bower_components/simplemde/dist/simplemde.min.js" ></script>