{% macro topbar_elem(name, endpoint, campaign) %}
<li class="nav-item {{'active' if request.endpoint.endswith(endpoint) }}">
  <a class="nav-link"
     href="{{url_for(endpoint, campaign=campaign)}}">
    {{name}}
  </a>
</li>
{% endmacro %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    GM Notes
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">
    {% if campaign %}
      {% for name, endpoint, all_users in topbar(campaign) %}
        {% if all_users or campaign.gm == current_user %}
          {{ topbar_elem(name, endpoint, campaign) }}
        {% endif %}

      {% endfor %}

    {% elif dashboard %}

      {% for name,link in [
        ('Dashboard', 'main.dashboard'),
      ] %}
        {{ topbar_elem(name, link) }}
      {% endfor %}

      {% if current_user.has_role('admin') %}
        {% for name,link in [
        ('Users', 'main.users'),
        ] %}
          {{ topbar_elem(name, link) }}
        {% endfor %}
      {% endif %}

    {% endif %}
    </ul>

    {% if current_user %}
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>&nbsp;
            {{current_user.name}}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/settings">Settings</a>
            {% if current_user.has_role('admin') or current_user.has_role('manager') %}
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
      </li> 
    </ul>
    {% endif %}


  </div>


  
</nav>


