{% from "v5_macros.html" import dots_field %}

{% macro advantage(advantage, level, specification, editable) %}
    <div class="row">
        <div class="col-6">
            {{ advantage }}
        </div>
        <div class="col-2">
            <div class="float-right">
                Level:
            </div>
        </div>
        <div class="col-2">
            {{ dots_field(level, editable, False, 6, sep=5) }}
        </div>
        {% if editable %}
            <div class="col-2">
                <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'advantage')">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        {% endif %}
    </div>
    <br>
    {% if specification %}
        <div class="row">
            <div class="col-md">
            {{ specification }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% if form %}
    <ul class="list-group list-group-flush" id="advantages-ul">
        {% for adv in form.advantages %}
            <li class="list-group-item subform advantage" index="{{ loop.index0 }}">
               {{ advantage(adv.advantage_id, adv.value, adv.specification, True) }}
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-lg btn-success btn-block" onclick="addSubform('advantage-template', 'advantage', 'advantages-ul')">
    +
    </button>


{# Form template #}
    <li class="list-group-item subform is-hidden" id="advantage-template">
        <div class="row">
            <div class="col-6">
                <select id="advantages-?-advantage_id" disabled="disabled" name="advantages-?-advantage_id">
                {% for group, items in template_options.items() %}
                    <optgroup label="{{group}}">
                    {% for k, v in items %}
                        <option value="{{k}}">{{v}}</option>
                    {% endfor %}
                    </optgroup>
                {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <div class="float-right">
                    Level:
                </div>
            </div>
            <div class="col-2">
                <div id="advantages-?-value">
                    <input checked id="advantages-?-value-0" name="advantages-?-value" type="radio" value="1">
                    <input id="advantages-?-value-1" name="advantages-?-value" type="radio" value="2">
                    <input id="advantages-?-value-2" name="advantages-?-value" type="radio" value="3">
                    <input id="advantages-?-value-3" name="advantages-?-value" type="radio" value="4">
                    <input id="advantages-?-value-4" name="advantages-?-value" type="radio" value="5">
                    &nbsp
                    <input id="advantages-?-value-5" name="advantages-?-value" type="radio" value="6">
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'advantage')">
                 <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md">
            <textarea id="advantages-?-specification" name="advantages-?-specification"></textarea>
            </div>
        </div>
    </li>

{% else %}
    <ul class="list-group list-group-flush">
        {% for adv in character.advantages %}
        <li class="list-group-item">
            {{ advantage(adv.advantage.name, adv.value, adv.specification or '-', False) }}
        </li>
        {% endfor %}
    </ul>

{% endif %}