{% macro belief(conviction, touchstone, specification, editable) %}
    <div class="row">
        <div class="col-2">
            Conviction:
        </div>
        <div class="col-8">
            {{ conviction }}
        </div>
        {% if editable %}
            <div class="col-2">
                <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'belief')">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            Touchstone:
        </div>
        <div class="col-8">
            {{ touchstone }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            {{ specification }}
        </div>
    </div>
{% endmacro %}


{% if form %}
    <ul class="list-group list-group-flush" id="believes-ul">
        {% for b in form.believes %}
            <li class="list-group-item subform belief" index="{{ loop.index0 }}">
                {{ belief(b.conviction(style="width: 100%;"),
                          b.touchstone(style="width: 100%;"),
                          b.specification) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button" class="btn btn-lg btn-success btn-block" onclick="addSubform('believes-template', 'belief', 'believes-ul')">
    +
    </button>

    {# Form template #}
    <li class="list-group-item subform is-hidden" id="believes-template">
        <div class="row">
            <div class="col-2">
                Conviction:
            </div>
            <div class="col-8">
                <input id="believes-?-conviction" name="believes-?-conviction" disabled="disabled" required style="width: 100%;" type="text" value="">
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'belief')">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                Touchstone:
            </div>
            <div class="col-8">
                <input id="believes-?-touchstone" name="believes-?-touchstone" disabled="disabled" required style="width: 100%;" type="text" value="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <textarea id="believes-?-specification" name="believes-?-specification"></textarea>
            </div>
        </div>
    </li>
{% else %}
    <ul class="list-group list-group-flush">
        {% for b in character.believes %}
            <li class="list-group-item">
                {{ belief(b.conviction,
                          b.touchstone,
                          b.specification or '-') }}
            </li>
        {% endfor %}
    </ul>
{% endif %}