{% from "v5_macros.html" import dots_field %}

{% macro discipline(discipline, level, editable) %}
<div class="row">
    <div class="col-6">
        {{ discipline }}
    </div>
    <div class="col-2">
        <div class="float-right">
            Level:
        </div>
    </div>
    <div class="col-2">
        {{ dots_field(level, editable) }}
    </div>
    {% if editable %}
        <div class="col-2">
            <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'discipline')">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    {% endif %}
</div>
<br>
{% endmacro %}

{% if form %}
<ul class="list-group list-group-flush" id="disciplines-ul">
    {% for d in form.disciplines %}
    <li class="list-group-item subform discipline" index="{{ loop.index0 }}">
       {{ discipline(d.discipline_id, d.value, True) }}
    </li>
    {% endfor %}
</ul>
<button type="button" class="btn btn-lg btn-success btn-block" onclick="addSubform('discipline-template', 'discipline', 'disciplines-ul')">
+
</button>


{# Form template #}
<li class="list-group-item subform is-hidden" id="discipline-template">

    <div class="row">
        <div class="col-6">
            <select id="disciplines-?-discipline_id" name="disciplines-?-discipline_id">
            {% for k,v in template_options %}
                <option value="{{k}}">{{v}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <div class="float-right">
                Level:
            </div>
        </div>
        <div class="col-2">
            <input checked id="disciplines-?-value-0" name="disciplines-?-value" type="radio" value="1">
            <input id="disciplines-?-value-1" name="disciplines-?-value" type="radio" value="2">
            <input id="disciplines-?-value-2" name="disciplines-?-value" type="radio" value="3">
            <input id="disciplines-?-value-3" name="disciplines-?-value" type="radio" value="4">
            <input id="disciplines-?-value-4" name="disciplines-?-value" type="radio" value="5">
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'discipline')">
             <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>

</li>

{% else %}
<ul class="list-group list-group-flush">
    {% for d in character.disciplines %}
        <li class="list-group-item">
            {{ discipline(d.discipline.name, d.value, False) }}
        </li>
    {% endfor %}
</ul>

{% endif %}