{% from "v5_macros.html" import dots_field %}

{% macro bar(name) %}
    {% set id = name + "_bar" %}
    {% set aggravated = name[0] + "_aggravated" %}
    {% set superficial = name[0] + "_superficial" %}

    <div id="{{id}}"></div>
    {% if form %}
        {# Total is calculated from other values, so we don't need to show it, but it should exist for the submit #}
        {{ form[name](type='hidden', onchange=id+".update_bar()") }}
        <i class="far fa-plus-square"></i> {{ form[aggravated](onchange=id+".update_bar()") }}
        <i class="far fa-minus-square"></i> {{ form[superficial](onchange=id+".update_bar()") }}
    {% else %}
        {# The javascript being used to build the bar uses .val which is only available for inputs #}
        <input type="hidden" id="{{name}}" value="{{ character[name] }}"></input>
        <input type="hidden" id="{{aggravated}}" value="{{ character[aggravated] }}"></input>
        <input type="hidden" id="{{superficial}}" value="{{ character[superficial] }}"></input>
    {% endif %}

{% endmacro %}

{% macro s_elem(name, mode=None, label=None, content_size='md', clearable=False, total=5, sep=None) %}
    <div class="col-2">
    {{label or name | capitalize }}:
    </div>
    <div class="col-{{content_size}}">
        {% if mode == 0 %}
            {{character[name].name or '-' }}
        {% elif mode == 2 %}
            {{ dots_field(character[name], False, clearable=clearable, total=total, sep=sep) }}
        {% else %}
            {{character[name] or '-'}}
        {% endif %}
    </div>
{% endmacro %}

{% macro f_elem(name, mode=None, label=None, content_size='md', clearable=False, total=5, sep=None) %}
    <div class="col-2">
        {{label or name | capitalize}}:
    </div>
    <div class="col-{{content_size}}">
        {% if mode == 0 %}
            {{form[name+'_id']}}
        {% elif mode == 1 %}
            {{form[name](style="width:100%;")}}
        {% elif mode == 2 %}
            {{ dots_field(form[name], True, clearable=clearable, total=total, sep=sep) }}
        {% else %}
            {{form[name]}}
        {% endif %}
    </div>
{% endmacro %}

{% macro s_row(values, func) %}
<div class="row">
    {% for v in values %}
        {{func(*v)}}
    {% endfor %}
</div>
{% endmacro %}

{% if form %}
    {% set func = f_elem %}
    {% set editable = True %}
    {% set elem = form %}
{% else %}
    {% set func = s_elem %}
    {% set editable = False %}
    {% set elem = character %}
{% endif %}

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="container">
            {{s_row([('predator_type', 0, "Predator Type"), ('clan', 0)], func)}}
            {{s_row([('sire', 1), ('generation',)], func)}}
            {{s_row([('concept',1)], func)}}
            {{s_row([('ambition',1)], func)}}
            {{s_row([('desire',1)], func)}}

        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
            {{s_row([('strength', 2),('charisma', 2),('intelligence', 2)], func)}}
            {{s_row([('dexterity', 2),('manipulation', 2),('wits', 2)], func)}}
            {{s_row([('stamina', 2),('composure', 2),('resolve', 2)], func)}}
        </div>
    </li>

    <li class="list-group-item">

        <div class="text-center">
            <div class="row">
                <div class="col-6">
                    Health
                </div>
                <div class="col-6">
                    Willpower
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ bar("health") }}
                </div>
                <div class="col-6">
                    {{ bar("willpower") }}
                </div>
            </div>
        </div>

    </li>

    <li class="list-group-item">
        <div class="container">
            {% for s in elem.skills %}
                {% if (loop.index0 % 3) == 0 %}
                    {% if loop.index0 != 0 %}
                        </div>
                    {% endif %}
                    <div class="row">
                {% endif %}
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    {% if editable %}
                                        {% if s %}
                                            {{ s.skill_id }}
                                        {% endif %}
                                    {% else %}
                                        {{ s.skill.name }}:
                                    {% endif %}
                                    </div>
                                    <div class="col-6">
                                    {% if s %}
                                        {{ dots_field(s.value, editable, clearable=true) }}
                                    {% endif %}
                                </div>
                            </div>
                            {% if form %}
                                {% if s.specializations_str.data %}
                                    {% set collapse = 'show' %}
                                    {% set icon = 'fa-angle-up' %}
                                {% else %}
                                    {% set collapse = '' %}
                                    {% set icon = 'fa-angle-down' %}
                                {% endif %}
                                <div class="row collapse {{collapse}}" id="{{s.id}}-Collapse">
                                    <div class="col-md">
                                        {{ s.specializations_str(style='width: 100%;') }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-md">
                                        <i class="fas {{icon}}" onclick="$(this).toggleClass('fa-angle-down fa-angle-up')"
                                        data-toggle="collapse" data-target="#{{s.id}}-Collapse"></i>
                                    </div>
                                </div>
                            {% elif s.specializations_str %}
                                <div class="row">
                                    <div class="col-md">
                                        {# Adding two spaces so the specializations are visually seen as childs #}
                                        &nbsp&nbsp{{ s.specializations_str }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
            {% endfor %}
                    </div>
        </div>
    </li>


    <li class="list-group-item">
        <div class="text-center">
            <div class="row">
                <div class="col-4">
                    Resonance
                </div>
                <div class="col-4">
                    Hunger
                </div>
                <div class="col-4">
                    Humanity
                </div>
            </div>

            <div class="row">
                 <div class="col-4">
                    {% if form %}
                        {{ form.resonance_id }}
                    {% else %}
                        {{ character.resonance.name if character.resonance else '-' }}
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if form %}
                        {{ form.hunger }}
                    {% else %}
                        {{ character.hunger }}
                    {% endif %}
                </div>
                <div class="col-4">
                    <div id="humanity_bar"></div>
                    {% if form %}
                        <i class="far fa-square"></i> {{ form.humanity(onchange="humanity_bar.update_bar()") }}
                        <i class="far fa-minus-square"></i> {{ form.stains(onchange="humanity_bar.update_bar()") }}
                    {% else %}
                        {# The javascript being used to build the bar uses .val which is only available for inputs #}
                        <input type="hidden" id="humanity" value="{{ character.humanity }}"></input>
                        <input type="hidden" id="stains" value="{{ character.stains }}"></input>
                    {% endif %}
                </div>
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
                {{ func('blood_potency', 2, 'Blood Potency', 4, True, 10, 5) }}
                {{ func('xp', None, 'Experience') }}
        </div>
    </li>

</ul>

<script src="/v5/static/bar.js"></script>