
{% macro power(pwr) %}
    <div class="row">
        <div class="col-10">
            {{ pwr }}
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'power')">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
    <br>
{% endmacro %}

{% if form %}
    <ul class="list-group list-group-flush" id="powers-ul">
        {% for p in form.powers %}
        <li class="list-group-item subform power" index="{{ loop.index0 }}">
           {{ power(p.power_id) }}
        </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-lg btn-success btn-block" onclick="addSubform('power-template', 'power', 'powers-ul')">
    +
    </button>


{# Form template #}
    <li class="list-group-item subform is-hidden" id="power-template">

        <div class="row">
            <div class="col-10">
                <select id="powers-?-power_id" name="powers-?-power_id">
                    {% for group, items in template_options.items() %}
                        <optgroup label="{{group}}">
                        {% for k, v in items %}
                            <option value="{{k}}">{{v}}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                    </select>

            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'power')">
                 <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>

    </li>

{% else %}
    <ul class="list-group list-group-flush">
        {% for p in character.powers %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-8">
                    {{ p.power.name }}
                </div>
                <div class="col-4">
                    {{ p.power.requirements[0].discipline.name }} ({{ p.power.requirements[0].value }})
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endif %}