{% macro s_elem(name, attr_name=None) %}
{% if not attr_name %}
    {% set attr_name = name %}
{% endif%}
{% set value = character[attr_name] %}
{% if not value %}
{% set value = character[attr_name] %}
{% elif value.name %}
{% set value = value.name %}
{% endif %}
{{name}}: {{value or '-'}}
{% endmacro %}

{% macro s_row(values) %}
<div class="row">
    {% for v in values %}
    <div class="col-sm">
        {% if v is not string %}
            {{ s_elem(*v) }}
        {% else %}
            {{s_elem(v)}}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endmacro %}



    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="container">
                {{s_row(['name', 'concept', ('Predator Type', 'predator_type') ])}}
                {{s_row([ ('player', 'player_name'), 'ambition','clan'])}}
                {{s_row(['sire', 'desire','generation'])}}
            </div>
        </li>
        <li class="list-group-item">
            {{character.description or '-'}}
        </li>
        <li class="list-group-item">
            {{character.bio or '-'}}
        </li>

        <li class="list-group-item">
            <a href="{{url_for('.character_detail', campaign=character.campaign, character=character)}}"
               class="btn btn-block btn-primary">View</a>
        </li>

    </ul>

