
{% macro thin_blood_advantage(advantage, specification, editable) %}
    <div class="row">
        <div class="col-10">
            {{ advantage }}
        </div>
        {% if editable %}
            <div class="col-2">
                <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'thin-blood-advantage')">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        {% endif %}
    </div>
    <br>
    {% if specification %}
        <div class="row">
            <div class="col-md">
                {{ specification }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% if form %}
    <ul class="list-group list-group-flush" id="thin-blood-advantages-ul">
        {% for adv in form.thin_blood_advantages %}
            <li class="list-group-item subform thin-blood-advantage" index="{{ loop.index0 }}">
               {{ thin_blood_advantage(adv.thin_blood_advantage_id, adv.specification, True) }}
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-lg btn-success btn-block" onclick="addSubform('thin-blood-advantage-template', 'thin-blood-advantage', 'thin-blood-advantages-ul')">
    +
    </button>


    {# Form template #}
    <li class="list-group-item subform is-hidden" id="thin-blood-advantage-template">
        <div class="row">
            <div class="col-10">
                <select id="thin_blood_advantages-?-thin_blood_advantage_id" name="thin_blood_advantages-?-thin_blood_advantage_id">
                {% for group, items in template_options.items() %}
                    <optgroup label="{{group}}">
                    {% for k, v in items %}
                        <option value="{{k}}">{{v}}</option>
                    {% endfor %}
                    </optgroup>
                {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger float-right" onclick="removeSubform(this, 'thin-blood-advantage')">
                 <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md">
            <textarea id="thin_blood_advantages-?-specification" name="thin_blood_advantages-?-specification"></textarea>
            </div>
        </div>
    </li>


{% else %}
    <ul class="list-group list-group-flush">
        {% for adv in character.thin_blood_advantages %}
        <li class="list-group-item">
            {{ thin_blood_advantage(adv.thin_blood_advantage.name, adv.specification or '-', False) }}
        </li>
        {% endfor %}
    </ul>

{% endif %}