{% extends "components/list_view.html" %}

{% block scripts %}
{{ super() }}
{# Not all list views need subforms, but it's easier to include the js in all #}
<script src="/static/subform.js"></script>
<script>
function clearChecks(radioName) {
    $('input[name='+radioName+']').each(function(i,e){
        e.checked = false
    })
}
</script>
{% endblock scripts%}