{% macro dots_field(elem, editable, clearable=false, total=5, sep=None) %}
    <div id="{{elem.id}}">
        {% if editable %}
            {% for subfield in elem %}
                {% if loop.index0 == sep %}
                &nbsp
                {% endif %}
                {{ subfield }}
            {% endfor %}

            {% if clearable %}
                <i class="fa fa-times text-danger" onclick="clearChecks('{{elem.name}}')"></i>
                &nbsp
            {% endif %}

        {% else %}
           {% for i in range(total) %}
                {% if loop.index0 == sep %}
                &nbsp
                {% endif %}
                {% if loop.index0 < elem %}
                    <i class="fas fa-circle"></i>
                {% else %}
                    <i class="far fa-circle"></i>
                {% endif %}
            {% endfor %}

        {% endif %}
    </div>
{% endmacro %}