{% extends "base/base.html" %}

{% block title %}
{{campaign.name}}
{% endblock %}

{% block content %}
  <h2>Overview for {{campaign.name}}</h2>

<br>

{% if current_user == campaign.gm %}

{# TODO See Issue #21
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#getTokenModal">
 <i class="fa fa-share-alt"></i>
</button>
Get Character Share

<!-- Modal -->
<div class="modal fade" id="getTokenModal" tabindex="-1" role="dialog" aria-labelledby="getTokenModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="getTokenModalLabel">How would you like to get the link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Player: {{player_form.player_id}}
        <br>
        Select the method of delivery of the link
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="disabled btn btn-primary">
          <!-- data-dismiss="modal" onclick="send_token_via_mail();"> -->

          <i class="fa fa-envelope"></i>
            E-Mail
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="copy_token();">
          <i class="fa fa-clone"></i>
          Copy to clipboard
        </button>
          <button type="button" class="disabled btn btn-primary">
             <!-- data-dismiss="modal" onclick="send_token_via_discord();"> -->
            Discord
          </button>

      </div>
    </div>
  </div>
</div>
#}

{{ campaign.description }}

{% endif %}

{% endblock %}

{% block scripts %}
  {{super()}}
<script src="/static/get_token.js"></script>
{% endblock scripts%}