{% extends "base/base.html" %}

{% from "base/macros.html" import form_errors %}
{% from "base/settings_macros.html" import bool_setting %}

{% block content %}

 <form id="campaign_form" method="POST" action="{{href}}">
   {{ form.csrf_token }}

   {{ form_errors(form) }}

<div class="row">
  <div class="col-2">
    System: {{ form.system }}
  </div>
  <div class="col-10">
    {{ form.name(style="width: 100%;", placeholder="Campaign name") }}
  </div>
</div>
     <br>
     {{ bool_setting(form.allow_player_edit) }}
     {{ form.description(placeholder="Campaign Description") }}
 </form>


{% endblock %}


{% block footer %}

{# Using form reference outside of the form is HTML5, maybe not all browsers support it #}
<button form="campaign_form" class="btn btn-lg btn-success btn-block" type="submit">
  Save
</button>
{% endblock footer %}
