{% extends "base/base.html" %}  

{% from "base/macros.html" import campaign_color with context %}
{% from "base/macros.html" import del_btn %}

{% block title %} 
  Index 
{% endblock %} 

{% block content %} 

  <div class="card-columns"> 

    {% for c in current_user.campaigns %}
      <div class="card text-center {{campaign_color(c, 'border')}}">

        <div class="card-body"> 
          <h5 class="card-title">{{c.name}}</h5> 
          <p class="card-text">{{c.description}}</p> 
          <a href="{{ campaign_url(c)}}" class="btn btn-block {{campaign_color(c)}}">Select</a>
        </div> 
        
        <div class="card-footer text-muted">
          {% if c and c.gm == current_user %}
            <div class="row">
              <div class="col-2">
                <a class="btn btn-primary float-right"
                        href="{{url_for('main.campaign', campaign=c)}}">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-8">
                {{c.system_long}}
              </div>
            <div class="col-2">
              {{del_btn( url_for('main.del_campaign', campaign=c),
                         msg="Are you sure you wish to delete campaign \"{}\"?".format(c.name) ) }}
            </div>
          {% else %}
            {{c.system_long}}
          {% endif %}
          </div>

        </div> 
      </div> 
    {% endfor %} 
    
  </div> 
  


{% endblock %}   

{% from "base/macros.html" import new_btn %}
{% block footer %}
  {{ new_btn("Campaign", url_for('main.new_campaign') )}}
{% endblock footer %}
